* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	color: white;
	font-family: sans-serif;
	padding: 20px 20px 8px 20px;
	margin: 0;
}

a:link {
	color: #e0c060;
}

a:link:hover, a:visited:hover {
	color: #ffe080;
}

a:visited {
	color: #c0a040;
}

button {
	align-items: center;
	background-color: #c0a040;
	border: solid 3px #ffe080;
	border-radius: 8px;
	color: white;
	cursor: pointer;
	display: inline-flex;
	font-weight: bold;
	height: 30px;
	justify-content: center;
	padding: 6px 12px;
	text-shadow: 0px 0px 5px #ffe080;
	user-select: none;
}

button:not([disabled]):hover {
	background-color: #c8a848;
	text-shadow: 0px 0px 10px white;
}

button[disabled] {
	background-color: #a09040;
	border-color: #c0a040;
	color: #a09040;
	cursor: default;
}

.button-small {
	border-width: 2px;
	height: initial;
	padding: 2px 4px;
}

footer {
	color: #404040;
	font-size: 14px;
	margin: 8px 16px 0 auto;
	text-align: right;
	width: fit-content;
}

footer:hover > aside {
	opacity: 1;
}

h1, h2, h3, h4, h5 {
	margin: 0px 0px 8px 0px;
	padding: 0;
	user-select: none;
}

h1 {
	margin-top: -10px;
	text-align: center;
	text-shadow: 0px 0px 5px #800000;
}

li {
	margin-left: 24px;
}

section {
	background-color: #0c5679;
	background-image: linear-gradient(#0c5679, #0c5679, #003660);
	border: solid 4px #43cef7;
	border-radius: 8px;
	position: relative;
	width: 100%;
}

section + section {
	margin-top: 20px;
}

textarea {
	background-color: #181008;
	background-image: linear-gradient(#0c0804, #181008, #181008);
	border: solid 1px #a09040;
	border-radius: 4px;
	color: #c0a040;
	padding: 4px 8px;
	resize: none;
}

#button-style-republic, #button-style-empire {
	border: solid 2px;
	border-radius: 50%;
	height: 28px;
	position: relative;
	width: 28px;
}

#button-style-republic {
	background-color: #0c5679;
	background-image: linear-gradient(#0c5679, #0c5679, #003660);
	border: solid 2px #43cef7;
}

#button-style-empire {
	background-color: #400000;
	background-image: url('../images/imp/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border-color: #600000;
}

#button-style-republic::after {
	background-color: white;
	border-radius: 50%;
	content: '';
	height: 16px;
	position: absolute;
	width: 16px;
}

#text-section {
	display: flex;
	height: 400px;
	justify-content: center;
}

#input, #output {
	display: flex;
	flex-direction: column;
	margin: 20px;
	width: 100%;
}

#input textarea, #output textarea {
	height: 100%;
	width: 100%;
}

#output > *:nth-child(2) {
	flex-basis: 100%;
}

#output > *:last-child {
	align-items: center;
	display: flex;
	justify-content: center;
	padding-top: 20px;
}

#output > *:last-child > * {
	margin: 0 20px;
}

#output-tracker {
	user-select: none;
}

#notes-section > * + *, #cheatsheets > * + * {
	margin-top: 0px;
}

#notes-section h2, #cheatsheets h2 {
	text-align: center;
}

#text-section > h2, #notes-section > *:not(.close-button), #cheatsheets > *:not(.close-button) {
	margin: 10px;
}

#notes-section {
	display: flex;
	flex-direction: column;
}

#notes-section textarea {
	height: 300px;
}

#quick-ref {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
}

#quick-ref > * {
	margin: 0 20px 20px 0;
}

#quick-ref h3 {
	margin-left: 4px;
}

#rank-table {
	background-color: #0c5679;
	background-image: linear-gradient(#0c5679, #0c5679, #003660);
	border: solid 2px #43cef7;
	display: grid;
	grid-template-columns: auto repeat(3, min-content);
	width: 600px;
}

#rank-table > div {
	border: solid 1px #43cef7;
	padding: 2px 8px;
	white-space: nowrap;
}

#rank-table > div:first-child, #rank-table > div:nth-child(2), #rank-table > div:nth-child(3), #rank-table > div:nth-child(4) {
	background-color: #3299b7;
	font-weight: bold;
	padding-top: 4px;
}

#code-holder {
	display: flex;
	gap: 20px;
}

#code-jedi {
	background-color: #0c5679;
	background-image: linear-gradient(#0c5679, #0c5679, #003660);
	border: solid 2px #43cef7;
	border-radius: 4px;
	padding: 4px 8px;
}

#code-sith {
	background-image: url('../images/imp/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border: solid 2px #200000;
	border-radius: 4px;
	padding: 4px 8px;
}

#code-jedi p, #code-sith p {
	font-style: italic;
	padding: 4px 8px;
}

#emote-header {
	user-select: none;
}

#emote-table {
	align-items: start;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 1600px;
	width: 100%;
	margin-top: 8px;
	min-height: 100px;
}

#emote-display[hideFree="1"] #emote-table,
#emote-display[hideSub="1"] #emote-table,
#emote-display[hideMarket="1"] #emote-table,
#emote-display[hideUnlocked="1"] #emote-table {
	max-height: 1600px;
}

#emote-display[hideFree="2"] #emote-table,
#emote-display[hideSub="2"] #emote-table,
#emote-display[hideMarket="2"] #emote-table,
#emote-display[hideUnlocked="2"] #emote-table {
	max-height: 1200px;
}

#emote-display[hideFree="3"] #emote-table,
#emote-display[hideSub="3"] #emote-table,
#emote-display[hideMarket="3"] #emote-table,
#emote-display[hideUnlocked="3"] #emote-table {
	max-height: 600px;
}

#emote-table > div {
	display: flex;
	justify-content: stretch;
	margin-top: -2px;
	padding: 0;
	width: 320px;
}

#emote-table > div > div {
	flex-basis: 70%;
	padding: 2px 8px;
	width: 60%;
}

#emote-table > div > div:not(:last-child) {
	flex-basis: 30%;
	border-right: solid 1px #43cef7;
}

#emote-table h4 {
	position: relative;
	top: 4px;
}

.close-button {
	position: absolute;
	right: 8px;
	top: 8px;
}

.close-button button {
	background-color: #003660;
	border-color: #43cef7;
	height: 16px;
	padding-top: 0px;
	width: 16px;
}

.close-button button:not(disabled):hover {
	background-color: #0c5679;
}

.emote-free {
	background-color: #183010;
	border: solid 2px #43cef7;
	padding: 2px 8px;
}

.emote-sub {
	background-color: #301010;
	border: solid 2px #43cef7;
	padding: 2px 8px;
}

.emote-market {
	background-color: #302810;
	border: solid 2px #43cef7;
	padding: 2px 8px;
}

.emote-unlocked {
	background-color: black;
	border: solid 2px #43cef7;
	padding: 2px 8px;
}

#button-emote-free,
#button-emote-sub,
#button-emote-market,
#button-emote-unlocked {
	border-radius: 2px;
	cursor: pointer;
	min-width: 140px;
	text-align: center;
}

#button-emote-free:hover,
#button-emote-sub:hover,
#button-emote-market:hover,
#button-emote-unlocked:hover {
	font-weight: bold;
}

.flex-me {
	align-items: center;
	display: flex;
}

.flex-me * + * {
	margin-left: 4px;
}

.show-closed {
	display: none;
}

.subsection {
	background-color: #0c5679;
	background-image: linear-gradient(#0c5679, #0c5679, #003660);
	border: solid 2px #43cef7;
	border-radius: 4px;
	padding: 8px;
	position: relative;
}

.subsection + .subsection {
	margin-top: 20px !important;
}

#emote-display[hideFree] .emote-free,
#emote-display[hideSub] .emote-sub,
#emote-display[hideMarket] .emote-market,
#emote-display[hideUnlocked] .emote-unlocked {
	color: gray;
}

#emote-display[hideFree] #emote-table .emote-free,
#emote-display[hideSub] #emote-table .emote-sub,
#emote-display[hideMarket] #emote-table .emote-market,
#emote-display[hideUnlocked] #emote-table .emote-unlocked {
	display: none;
}

.imp-only {
	display: none;
}

/* EMPIRE COLOR OVERRIDES */
.empire a:link {
	color: #c0a040;
}

.empire a:visited {
	color: #a09040;
}

.empire h1 {
	text-shadow: 0px 0px 5px #800000;
}

.empire section, .empire .subsection {
	border-color: #600000;
	background-color: #400000;
	background-image: url('../images/imp/greebling.png'), linear-gradient(#400000, #400000, #300000);
}

.empire textarea {
	background-image: url('../images/imp/greeblingText.png'), linear-gradient(#0c0804, #181008, #181008);
	border-color: #403810;
}

.empire #button-style-republic::after {
	display: none;
}

.empire #button-style-empire::after {
	background-color: #c0a040;
	border-radius: 50%;
	content: '';
	height: 16px;
	position: absolute;
	width: 16px;
}

.empire #rank-table {
	background-image: url('../images/imp/greebling.png'), linear-gradient(#400000, #400000, #300000);
	border: solid 1px #200000;
}

.empire #rank-table > div {
	border: solid 1px #200000;
}

.empire #rank-table > div:first-child, .empire #rank-table > div:nth-child(2), .empire #rank-table > div:nth-child(3), .empire #rank-table > div:nth-child(4) {
	background-color: #300000;
}

.empire #code-holder {
	flex-direction: row-reverse;
}

.empire #emote-table > div > div:not(:last-child) {
	border-right: solid 1px #200000;
}

.empire .close-button button {
	background-color: #600000;
	border-color: #800000;
}

.empire .close-button button:not(disabled):hover {
	background-color: #800000;
}

.empire .emote-free {
	background-color: #0c1808;
	border: solid 2px #200000;
}

.empire .emote-sub {
	background-color: #280000;
	border: solid 2px #200000;
}

.empire .emote-market {
	background-color: #281808;
	border: solid 2px #200000;
}

.empire .emote-unlocked {
	background-color: black;
	border: solid 2px #200000;
}

.empire .imp-only {
	display: block;
}

.empire .pub-only {
	display: none;
}

/* IMPORTANT - Needs to be at the bottom to override everything else! */
.closed {
	height: auto !important;
}
.closed * {
	display: none !important;
}

.closed > h2, .closed > h3, .closed > .close-button, .closed > .show-closed {
	display: block !important;
}

.closed > .close-button > button {
	display: inline-flex !important;
	padding-top: 3px;
}

@media screen and (max-width: 1700px) {
	#emote-table {
		height: 2000px;
	}
}

@media screen and (max-width: 1360px) {
	#emote-table {
		height: 2600px;
	}
}

@media screen and (max-width: 1060px) {
	#emote-table {
		height: 4000px;
	}
}

@media screen and (max-width: 1000px) {
	#guild-docs {
		height: 560px;
	}
}

@media screen and (max-width: 780px) {
	#guild-docs {
		height: auto;
	}

	#emote-table {
		height: auto;
	}
}